<!DOCTYPE html>
<html>
<head>
  <title>octemu (loading...)</title>
  <style>
    body {
      padding: 18px;
      font-family: Consolas, 'Courier New', Courier, monospace;
      font-size: 12px;
    }

    #main {
      width: 640px;
      margin: 0 auto;
      border: 1px solid black;
      background: aliceblue;
    }

    .section { padding: 12px; }

    .row {
      display: grid;
      grid-template-columns: 60px 240px auto;
      align-items: center;
      column-gap: 10px;
      margin-bottom: 6px;
    }

    select, input { height: 24px; }

    select, input {
      accent-color: steelblue;
      background: white;
      border: 1px solid steelblue;
      border-radius: 0;
    }

    #canvas {
      background: black;
      image-rendering: pixelated;
    }

    footer {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
    }

    small { color: gray; }

    pre { font-family: Consolas, 'Courier New', Courier, monospace; }

    summary { cursor: pointer; }
  </style>
</head>
<body>
  <div id="main">
    <div class="section">
      <h1>octemu</h1>
      <p>Octane's CHIP-8/SUPER-CHIP emulator (WebAssembly)</p>
      <div id="config">
        <div class="row">
          <label for="mode">Mode:</label>
          <select id="mode" style="width: 90px;" disabled>
            <option value="chip8">CHIP-8</option>
            <option value="schip">SCHIP</option>
            <option value="octo" selected>OCTO</option>
          </select>
        </div>
        <div class="row">
          <label for="tickrate">Tickrate:</label>
          <input id="tickrate" type="range" min="4" max="1000" step="2" value="200" disabled>
          <span id="tickrate-value">200</span>
        </div>
        <div class="row">
          <label for="roms">ROM:</label>
          <select id="roms" disabled>
            <option value="" selected></option>
            {%- for name in roms %}
            <option value="{{ name }}">{{ roms[name]["title"] }}</option>
            {%- endfor %}
          </select>
          <input id="upload" type="file" accept=".ch8" disabled>
        </div>
      </div>
    </div>
    <canvas id="canvas" width="640" height="320"></canvas>
    <div class="section">
      <details id="help">
        <summary><u>help</u></summary><p></p>
        <p>Key mapping:</p>
        <pre>
        +-------+-------+-------+-------+
        | 1 (1) | 2 (2) | 3 (3) | C (4) |
        +-------+-------+-------+-------+
        | 4 (Q) | 5 (W) | 6 (E) | D (R) |
        +-------+-------+-------+-------+
        | 7 (A) | 8 (S) | 9 (D) | E (F) |
        +-------+-------+-------+-------+
        | A (Z) | 0 (X) | B (C) | F (V) |
        +-------+-------+-------+-------+
        Space: Pause/Resume; F5: Reload Current ROM; F12: Save Screenshot.</pre>
        <p>Have fun!</p>
      </details>
      <footer>
        <small>version: <span id="version">unknown</span></small>
        <small>Created by <a href="https://github.com/Cycloctane">Cycloctane</a> | <a href="https://github.com/Cycloctane/octemu">Source</a></small>
      </footer>
    </div>
  </div>

  <script>
  (() => {
    const modes = {"chip8": 0, "schip": 1, "octo": 2};
    const metadata = {{ roms | tojson }};
    const roms = document.getElementById("roms");
    const upload = document.getElementById("upload");
    const mode = document.getElementById("mode");
    const tickrate = document.getElementById("tickrate");
    const tickrateValue = document.getElementById("tickrate-value");

    const runner = {
      setMode: null,
      setTickrate: null,
      setColor: null,
      run: null
    };

    let rom = null;
    let fillColor = "#2AA198", backgroundColor = "#002B36";

    const color2int = color => {
      let ctx = document.createElement("canvas").getContext("2d");
      ctx.fillStyle = color;
      return parseInt(ctx.fillStyle.slice(1), 16);
    };

    const start = () => {
      if (!rom || rom.length === 0) {
        alert("No ROM loaded");
        return;
      } else if (rom.length > 4096 - 0x200) {
        alert("Invalid ROM size");
        rom = null;
        upload.value = "";
        return;
      }
      runner.setColor(color2int(fillColor), color2int(backgroundColor));
      if (runner.run(rom, rom.length) !== 0) {
        alert("Failed to run emulator: unknown error");
        rom = null;
        upload.value = "";
      }
    }

    roms.addEventListener("change", async () => {
      if (roms.value === "") {
        rom = null;
        upload.hidden = false;
        fillColor = "#2AA198";
        backgroundColor = "#002B36";
      } else {
        upload.value = "";
        upload.hidden = true;
        rom = await fetch(`roms/${roms.value}.ch8`).then(res => res.arrayBuffer()).then(content => new Uint8Array(content));
        tickrate.value = metadata[roms.value]["tickrate"];
        tickrateValue.textContent = tickrate.value;
        tickrate.dispatchEvent(new Event("change"));
        mode.value = metadata[roms.value]["mode"];
        mode.dispatchEvent(new Event("change"));
        fillColor = metadata[roms.value]["fillColor"] || fillColor;
        backgroundColor = metadata[roms.value]["backgroundColor"] || backgroundColor;
        start();
      }
    });

    upload.addEventListener("change", async () => {
      const file = upload.files && upload.files[0];
      if (file) {
        rom = new Uint8Array(await file.arrayBuffer());
      }
      start();
    });

    mode.addEventListener("change", () => {
      if (runner.setMode(Number.parseInt(modes[mode.value])) !== 0) {
        alert("Failed to set mode");
        mode.value = "octo"; // OCTO mode
      }
    });

    tickrate.addEventListener("change", () => {
      if (runner.setTickrate(Number.parseInt(tickrate.value)) !== 0) {
        alert("Failed to set tickrate");
        runner.setTickrate(200);
        tickrate.value = "200";
        tickrateValue.textContent = "200";
      }
    });

    tickrate.addEventListener("input", () => {
      tickrateValue.textContent = tickrate.value;
    });

    tickrate.addEventListener("wheel", event => {
      event.preventDefault();
      let newValue = Number.parseInt(tickrate.value) + Math.sign(-event.deltaY) * 2;
      newValue = Math.max(4, Math.min(1000, newValue));
      tickrate.value = newValue;
      tickrateValue.textContent = newValue;
      tickrate.dispatchEvent(new Event("change"));
    });

    window.Module = {
      canvas: document.getElementById("canvas"),
      onRuntimeInitialized() {
        document.getElementById("version").textContent = Module.cwrap("get_version", "string", [])();
        runner.setMode = Module.cwrap("set_mode", "number", ["number"]);
        runner.setTickrate = Module.cwrap("set_tickrate", "number", ["number"]);
        runner.setColor = Module.cwrap("set_color", null, ["number", "number"]);
        runner.run = Module.cwrap("run", "number", ["array", "number"]);
        roms.disabled = false;
        upload.disabled = false;
        mode.disabled = false;
        tickrate.disabled = false;
      }
    };
  })();
  </script>
  <script async src="octemu.js"></script>
</body>
</html>
